.header-container{
    width: 320px;
    height: 230px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 44px 20px;
}

.header-wrap{
    display: flex;
    margin-bottom: 60px;
    justify-content: space-around;
}

.nav{
    display: flex;
    font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
}

.nav-home{
    margin-right: 39px;
}

.search{
    border: 0.5px solid #FFFFFF;
    background-color: transparent;
    display: flex;
    &::placeholder{
        font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            align-items: center;
        
            color: #FFFFFF;
    }
}

.form-seatch{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-error{
    display: none;
}