<header class="container">
  <div class="header-container">
    <div class="header-wrap">
      <span></span>
      <nav class="nav">
        <a href="/" class="nav-home">home</a>
        <a href="/" class="nav-library">my library</a>
      </nav>
    </div>
    <form class="form-seatch">
      <input
        type="text"
        name="search"
        placeholder="Поиск фильмов"
        class="search"
      />
      <p class="search-error">
        Search result not successful. Enter the correct movie name and
      </p>
    </form>
  </div>
</header>
