<header class="header__container">
    <div class="container">
        <div class="header__wrap">
            <div class="header__box">
                <a href=".//index.html">
                    <svg class="header__svg" width="20" height="20">
            <use
              href=".//images/SVG-sprites/symbol-sprites.svg#icon-film"
            ></use>
          </svg>
                </a>
                <h2 class="title">Filmoteka</h2>
            </div>
            <nav class="nav">
                <a href=".//index.html" class="nav__home nav__current">home</a>
                <a href="/" class="nav__library">my library</a>
            </nav>
        </div>
        <form class="form__search">
            <input type="text" name="search" placeholder="Поиск фильмов" class="search" />
            <button type="submit">
        <svg class="form__svg" width="8" height="8">
          <use
            href=".//images/SVG-sprites/symbol-sprites.svg#icon-search"
          ></use>
        </svg>
      </button>
        </form>
        <p class="search__error">
            Search result not successful. Enter the correct movie name and
        </p>
    </div>
</header>